form {
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
}

button {
  margin-top: 20px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
}

.render-chat {
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
  min-height: 35rem;
  max-height: 35rem;
  overflow: auto;
}
.rooms {
  border-radius: 5px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
}

h3 {
  color: #2f72da;
}

span {
  color: black;
}
.room {
  color: #cdb4db;
}
.app-background {
  overflow-x: hidden;
  background-image: url("./270196492_1286090578536468_4576752241911039071_n.jpg");
  background-size: cover;
}
